<li>
    {{burger}}

    {{#if toGo}}
    <button class="togo" data-id="{{id}}">
        Pick up
    </button>

    {{!-- {{else}}
    <button class="togo" data-id="{{id}}">
        Make Ready
    </button> --}}

    {{/if}}

</li>