<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/logic.js"></script>
</head>

<body>
	{{{ body }}}
</body>

{{!-- <div class="star-box"> --}}
{{!-- <div class="rating">
	<span data-rating="5" class="fa fa-star"></span>
	<span data-rating="4" class="fa fa-star"></span>
	<span data-rating="3" class="fa fa-star"></span>
	<span data-rating="2" class="fa fa-star"></span>
	<span data-rating="1" class="fa fa-star"></span>
	<span class="rating-title">Rating</span>
</div> --}}
{{!-- </div> --}}

</html>