<h1>Burgers!</h1>

<div class="box">

  <div>
    <h2>Burgers that are not devoured (yet)!</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burger-devour devour=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div>
    <h2>Burgers that are devoured (for now)!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burger-devour}}
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger">
  </div>

  <div class="form-group">
    <label for="toGo">To go?</label><br>
    <input type="radio" name="toGo" value="1">to Go!<br>
    <input type="radio" name="toGo" value="0" checked> To eta here
  </div>

  <button type="submit">Add Burger</button>
</form>