li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-box {
  width: 45%;
  margin: auto;
}

/* .fa-star:hover:after {
  color: red;
  display: block;
  position: absolute;
} */
.fa-star:hover:before,
.fa-star:hover ~ :before {
  color: orange;
}

/* .rating > span:hover:before,
.rating > span:hover ~ span:before */

/* .fa-star:hover::after {
  color: orange;
} */
/* .star-box {
  margin: auto;
  width: 50px;
} */
.rating-title {
  margin-right: 5px;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  max-width: 150px;
  margin: 0;
  display: none;
  /* text-align: left; */
  /* align-content: flex-start; */
}
