li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 45%;
  margin: auto;
}
